html, body, p, article, section{
  display: inline-block;
  background:linear-gradient(45deg, blue, red) !important;
  height: 100% !important;
  
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background:linear-gradient(45deg, blue, red) !important;
  height: 100% !important;
}
  

  
  /* HEADER */
  
  .header{
    background: rgb(207, 15, 15);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.16);
  }